<%- include("partials/header"); -%>
<section id="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand navText" href="">MediConnect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</section>
<h1 class="vaccineText">FAQ's RELATED TO COVID-19 AND VACCINE</h1>
<div class="accordion">
        <span class="target-fix" id="accordion"></span>

        <div>
            <span class="target-fix" id="accordion1"></span>
            <a href="#accordion1" id="open-accordion1" title="open">What is COVID-19?</a>
            <a href="#accordion" id="close-accordion1" title="close">What is COVID-19?</a>
            <div class="accordion-content">
                <p>The Coronavirus (COVID-19) is a new respiratory illness first identified during an
                  investigation into an outbreak in Wuhan, China, but has spread to other parts of the world,
                  including the United States.</p>
            </div>
        </div>

        <!-- Second Accoridon Option -->
        <div>
            <span class="target-fix" id="accordion2"></span>
            <a href="#accordion2" id="open-accordion2" title="open">What are the primary symptoms of COVID-19?</a>
            <a href="#accordion" id="close-accordion2" title="close">What are the primary symptoms of COVID-19?</a>
            <div class="accordion-content">
                <p>Some of the primary symptoms to look for in a COVID-19 infected person are fever, dizziness,
                  breathlessness, headache, dry cough ( eventually result in phlegm) and in a few
                  cases loss in smell and taste. A few cases have also reported diarrhoea and fatigue.</p>
            </div>
        </div>
        <div>
            <span class="target-fix" id="accordion3"></span>
            <a href="#accordion3" id="open-accordion3" title="open">Why should I get vaccinated?</a>
            <a href="#accordion" id="close-accordion3" title="close">Why should I get vaccinated?</a>
            <div class="accordion-content">
                <p>India provides two majorly produced vaccines like Covishield and COVAXIN.
                  COVID-19 vaccines have been tested by multiple drug administration authorities in the world.
                  They are proven to be effective in reducing your probability of contracting COVID-19.
                  Once you are vaccinated, your body is much better prepared to shield off more viruses by making your
                  immune system stronger</p>
            </div>
        </div>

        <div>
            <span class="target-fix" id="accordion4"></span>
            <a href="#accordion4" id="open-accordion4" title="open">Who can get vaccinated?</a>
            <a href="#accordion" id="close-accordion4" title="close">Who can get vaccinated?</a>
            <div class="accordion-content">
                <p>Nearly everyone can get vaccinated except kids below 18 yrs of age as for now.
                  Although it has been proved that people with chronic disease like Blood preassure
                  ,diabetes and even pregnant or lactating women can also take the vaccine.
                  However, people with chronic medical conditions should consult their family doctor
                  first before taking the vaccine.</p>
            </div>
        </div>
   
        <div>
            <span class="target-fix" id="accordion5"></span>
            <a href="#accordion5" id="open-accordion5" title="open">Are there side effects from vaccines?</a>
            <a href="#accordion" id="close-accordion5" title="close">Are there side effects from vaccines?</a>
            <div class="accordion-content">
                <p>Like any medicine, vaccines can cause mild side effects, such as a low-grade fever,
                  or pain or redness at the injection site.
                  Mild reactions go away within a few days on their own. Other than these general symptoms
                there are no major complications due to COVID-19 vaccines</p>
            </div>
        </div>
 
        <div>
            <span class="target-fix" id="accordion6"></span>
            <a href="#accordion6" id="open-accordion6" title="open">How MediConnect helps in avoiding crowds in hospitals?</a>
            <a href="#accordion" id="close-accordion6" title="close">How MediConnect helps in avoiding crowds in hospitals?</a>
            <div class="accordion-content">
                <p>MediConnect is an online platform for doctors and patients for appointment booking and time scheduling.
                  This initiative has been started to help the small clinics and hospitals in controlling the crowd coming at the
                  hospital for medications. It allows patients to place their booking at a time that is most convenient for them.
                  They can make their booking at any point of time, whether day or night,
                  without having to worry if its within working hours or not.</p>
            </div>
        </div>
    </div>

<%- include("partials/footer"); -%>
