<%- include("partials/header"); -%>
<section class="loginpage">
  <form action="/login" method="POST">
    <div class="wrapper fadeInDown">
      <h1 class="favvOne">WELCOME BACK!</h1>
      <div id="formContentLogin">
        <br>
        <h2 style="color: #125d98">Login</h2>
        <form>
          <input type="text" id="login"class="fadeIn second" name="username" placeholder="Enter email">
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter password">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
      </div>
    </div>
  </form>
</section>
