<%- include("partials/header"); -%>
<section class="loginpage">
  <form action="/register" method="POST">
    <div class="wrapper fadeInDown">
      <h1 class="favv">HI WELCOME!</h1>
      <div id="formContentRegister">
        <br>
        <h2 style="color: #125d98">Register</h2>
        <form>
          <input type="text" id="login" class="fadeIn second" name="username" placeholder="Enter email">
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter password">
          <input type="submit" class="fadeIn fourth" value="Register">
        </form>
      </div>
    </div>
  </form>
</section>
